{% extends 'recipes/base.html' %}
{% block content %}
<section class="section">
    <div class="box">
        <div class="block has-text-centered">
            <h1 class="title is-1">
                About
            </h1>
        </div>
        <div class="block">
            <h1 class="title">Why did you make this?</h1>
            <p>
                I created this app under the guise of a benign recipe sharing app, when in actually it is an
                <strong>evil</strong> recipe sharing app, that will allow me to steal your recipes for when I go to college. Also, I was bored.
            </p>
        </div>
        <div class="block">
            <h1 class="title">What technologies did you use?</h1>
            <p>
                I used <a href="https://djangoproject.com">Django</a> as a backend, due to its simplicity, power, and
                the fact that Python is my favorite programming language. On the frontend, I employed <a
                    href="https://bulma.io">Bulma</a>, for sheer ease of use, the fact that it's open source, and it's
                execellent documentation. Would I recommend these 2? Yes. Yes I would.
            </p>
        </div>
        <div class="block">
            <h1 class="title">Is it Open Source?</h1>
            <p>
                Yes, it is, and you <strong>WILL</strong> be able to contribute to it on <a href="">GitHub</a>.
            </p>
        </div>
    </div>
</section>
{% endblock %}