{% extends "recipes/base.html" %}
{% block content %}
<section class="section">
    <div class="box">
        <h1 class="title">Edit Profile</h1>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="notification is-danger">
                    <button class="delete"></button>
                    {% for non_field_error in uform.non_field_errors %}
                        {{ non_field_error }}
                    {% endfor %}
                </div>
            {% endif %}
            {# for field in form.hidden_fields #}
                {#{{ field }}#}
            {# endfor #}
            {% for field in form.visible_fields %}
                {% include 'recipes/snippets/field.html' %}
            {% endfor %}
            <hr>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-success" type="submit">Update</button>
                </div>
                <div class="control">
                    <a href="{{ user.profile.get_absolute_url }}" class="button is-link is-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}